	<div>
		<center><h1 style="color:black;background-color:lightblue;
		          	font-family:sans-serif;align:center;padding:40px;margin-top:-6px;
					margin-left:-6px;margin-right:-6px">Backend Challenge
		</h1></center>
	</div>

	<div>
		<h3>No items found with given input query: <%= input_key %></h3>
	</div>

